// Colors


// Basic
$color-white: #fff;
$color-black: #000;

// Gray
$color-gray-lighten: #F2F2F2;

// Red
$color-red: #ED1C24;

// Yellow
$color-yellow: #FFCC03;

// Main
$color-main: #004EA7;
$color-heading: #222020CF;
$color-heading-black: #222020;

// Text
$color-text-main: #2F2E41;
$color-text-additional: #4C4A4A;
$color-text-additional-1: #4C5E86;
$color-text-placeholder: #7F8CA3;
$color-text-dark: #2A4393;

// Button
$color-button-main: $color-main;
$color-button-main-hover: #276DBD;

$color-button-additional: #1D9EF9;
$color-button-additional-hover: #63B7F1;


// Fonts
$font-family: Roboto, sans-serif;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// Font Size
$font-size-large-title: 48px;
$font-size-medium-title: 36px;
$font-size-small-title: 32px;
$font-size-mini-title: 24px;

$font-size-large-text: 24px;
$font-size-medium-text: 20px;
$font-size-small-text: 16px;
$font-size-mini-text: 14px;

// Line-height
$line-height-large-title: 1.4em;
$line-height-medium-title: 1.2em;
$line-height-small-title: 1.2em;
$line-height-mini-title: 1.1em;

$line-height-large-text: 1.3em;
$line-height-medium-text: 1.4em;
$line-height-small-text: 1.3em;
$line-height-mini-text: 1.1em;
