@import "../../../styles/helpers/variables";
@import "../../../styles/helpers/mixins";

.offer {
    &__main {
        @media (max-width: 575.98px) {
            text-align: center;
        }
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__heading {
        color: $color-heading;
        margin: 15px 0;

        @media (max-width: 575.98px) {
            font-size: 30px;
            margin: 25px 0;
        }
    }

    &__additional-heading {
        font-weight: $font-weight-regular;
        color: $color-text-additional;

        @media (max-width: 575.98px) {
            font-size: $font-size-medium-text;
            font-weight: $font-weight-regular;
        }
    }

    &__button {
        &-main {
            @include font-large-text;

            width: 100%;
            max-width: 361px;
            min-width: 288px;
            font-weight: $font-weight-bold;
            background: $color-main;
            color: $color-white;
            margin-top: 45px;
            padding: 22px 0;
            border-radius: 8px;
            cursor: pointer;
            transition: 0.2s;
            text-align: center;

            @media (max-width: 575.98px) {
                min-width: auto;
                font-size: $font-size-medium-text;
                margin-top: 30px;
            }

            &-link {
                color: $color-white;
            }

            &:hover, &:active {
                background: $color-button-main-hover;
            }
        }

        &-copy {
            @include font-medium-text;

            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            min-width: 288px;
            max-width: 380px;
            margin: 45px 0 25px;
            padding: 10px 54px;
            color: $color-white;
            font-weight: $font-weight-bold;
            background: $color-button-additional;
            border-radius: 100px;
            cursor: pointer;
            transition: 0.2s;

            @media (max-width: 575.98px) {
                min-width: auto;
                margin: 25px auto;
                padding: 10px 8px;
                font-size: 18px;
            }

            &:hover, &:active {
                background: $color-button-additional-hover;
            }

            &-text {
                margin-right: 10px;
            }

            &-icon {
                width: 30px;
            }
        }
    }

    &__description {
        @include font-medium-text;

        color: $color-text-placeholder;
        max-width: 580px;
    }

    &__discount {
        &_color_red {
            color: $color-red;
        }
    }

    &__banner {
        @media (max-width: 991.98px) {
            display: none;
        }

        &_right {
            margin-right: -240px;
        }

        &-img {
            &_width {
                width: 639px;
            }
        }
    }

    &__advantages {
        margin-top: 35px;
    }
}
