@import "../../../styles/helpers/variables";
@import "../../../styles/helpers/mixins";

.clients {
    background: $color-gray-lighten;

    &__title {
        text-align: center;
        margin-bottom: 50px;
        color: $color-text-main;
    }

    &__logo {
        @media (max-width: 767.98px) {
            justify-self: center;
        }

        &-img {
            width: 150px;

            @media (max-width: 575.98px) {
                width: 100px;
            }
        }
    }

    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        justify-content: space-between;
        align-items: center;
        gap: 100px;

        @media (max-width: 1199.98px) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }

        @media (max-width: 991.98px) {
            grid-template-columns: 1fr 1fr 1fr;
        }

        @media (max-width: 767.98px) {
            grid-template-columns: 1fr 1fr;
            gap: 40px;
        }
    }
}
